<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ajout Recette</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button -ion-button color="dark" (click)="goToMesRecettes()"> Mes recettes </button>

  <ion-item>
    <ion-label floating>Nom Recette :</ion-label>
    <ion-input type="text" value="" [(ngModel)]="recetteName"></ion-input>
  </ion-item>

  <ion-list no-line inset>
    <ion-item ion-item *ngFor="let ing of recette">
      {{ ing }}
    </ion-item>
  </ion-list>

  <br />
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <button ion-item *ngFor="let item of items" (click)="itemSelected(item)">
        {{ item }}
    </button>


  <ion-row>
    <button ion-button full color="dark"  (click)="addRecette()">Valider</button>
  </ion-row>
</ion-content>
