<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
</ion-content>

<ion-content padding>
  <ion-list>
      <button ion-item *ngFor="let item of recette" (click)="itemSelected(item)" style="float: left">
      {{ item }}
      </button>
      <button ion-item *ngFor="let item of recette" (click)="showConfirm(item)" style="float: left">
      Delete : {{ item }}
      </button>
  </ion-list>
</ion-content>
