#iconeNav {
    padding-right: 0.3cm;
    font-size: 30px;
    float: right;
}

#mainButton {
	display: block;
    position: relative;
    margin: auto;
    margin-top: 8px;
    block-size: 35px;
    width: 230px;
    background-color: #4c327c;
    font-weight: normal;
    font-family: -webkit-pictograph;
    }

 #brand
 {
 	color: white;
 	font-weight: bold;
 }

.body {
	background-color: grey;
}

.scroll-content {
	background-color: #24292d;
}

.platform-android .bar .title {
    line-height: 32px !important;
}

.ion-md-menu
{
	color: white;
}


.toolbar-background {
  background-color: #33383c;
}

.input-wrapper{
    background-color: #24292d;
    color: white;
}

.toolbar-title{
        color: white;
}

.item-inner{
    background-color: #24292d;
}

.item-block{
    background-color: #24292d;
}

.button-inner{
        color: white;
}